<div class="title-container">
  <h1 style="color: #26538C; margin-top: 20px;">Nova Simulação</h1>
</div>

<div class="container">
  <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">

    <label for="emissions">Quantidade de emissões:</label>
    <input type="number" name="emissions" formControlName="emissions">
    @if(form.get('emissions')?.hasError('required')){<span>Campo obrigatório.</span>} 
    @if(form.get('emissions')?.hasError('min')){<span>O valor deve ser maior que 0</span>}

    <label for="sourceZAxisHeight">Posição da fonte no eixo vertical (cm):</label>
    <input type="number" name="sourceZAxisHeight" formControlName="sourceZAxisHeight">
    @if(form.get('sourceZAxisHeight')?.hasError('required')){<span>Campo obrigatório.</span>} 
    @if(form.get('sourceZAxisHeight')?.hasError('min')){<span>O valor deve ser positivo</span>}

    <label for="apertures">Tipo de abertura:</label>
    <select name="apertures" formControlName="apertureType" id="apertureHeight" (change)="onApertureChange()">
      <option value="circular">Circular</option>
      <option value="rectangular">Retângular</option>
    </select>
    <label for="apertureZAxisHeight">Altura do poço (cm):</label>
    <input type="number" name="apertureZAxisHeight" id="apertureZAxisHeight" formControlName="apertureZAxisHeight" (change)="onApertureChange()">
    @if(form.get('apertureZAxisHeight')?.hasError('required')){<span>Campo obrigatório.</span>} 
    @if(form.get('apertureZAxisHeight')?.hasError('min')){<span>O valor deve ser positivo</span>}


    @if(form.get('apertureType')?.value === 'circular'){
      <div style="display: flex; flex-direction: column;">
        <label for="apertureRadius">Raio (cm):</label>
        <input type="number" id="apertureRadius" formControlName="apertureRadius" name="radius" (change)="updateScene()">
        @if(form.get('apertureRadius')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('apertureRadius')?.hasError('min')){<span>O valor deve ser positivo</span>}
      </div>  
    }

    @if(form.get('apertureType')?.value === 'rectangular'){
      <div style="display: flex; flex-direction: column;">
        <label for="apertureHeight">Largura no eixo X (cm):</label>
        <input type="number" formControlName="apertureHeight" name="apertureHeight" (change)="updateScene()">
        @if(form.get('apertureHeight')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('apertureHeight')?.hasError('min')){<span>O valor deve ser positivo</span>}
  
        <label for="apertureWidth">Largura no eixo y (cm):</label>
        <input type="number" formControlName="apertureWidth" name="apertureWidth" (change)="updateScene()">
        @if(form.get('apertureWidth')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('apertureWidth')?.hasError('min')){<span>O valor deve ser positivo</span>}
      </div>
    }


    <label for="fontes">Tipo de fonte:</label>
    <select name="fontes" formControlName="sourceType" id="fontes" (change)="onsourceTypeChange()">
      <option value="prismatica">Prisma retângular</option>
      <option value="esferica">Esférica</option>
      <option value="cilindrica">Cilíndrica</option>
    </select>

    @if(form.get('sourceType')?.value === 'prismatica'){

      <div style="display: flex; flex-direction: column;">
        <label for="prismHeight">Altura do prisma (cm):</label>
        <input type="number" id="prismHeight" formControlName="prismHeight" name="prismHeight" (change)="updateScene()">
        @if(form.get('prismHeight')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('prismHeight')?.hasError('min')){<span>O valor deve ser positivo</span>}

        <label for="prismWidth">Largura do prisma (cm):</label>
        <input type="number" id="prismWidth" formControlName="prismWidth" name="prismWidth" (change)="updateScene()">
        @if(form.get('prismWidth')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('prismWidth')?.hasError('min')){<span>O valor deve ser positivo</span>}

        <label for="prismDepth">Profundidade do prisma (cm):</label>
        <input type="number" name="prismDepth" id="prismDepth" formControlName="prismDepth" (change)="updateScene()">
        @if(form.get('prismDepth')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('prismDepth')?.hasError('min')){<span>O valor deve ser positivo</span>}

      </div>
      
    }

    
    @if(form.get('sourceType')?.value === 'esferica'){
      <div style="display: flex; flex-direction: column;">
        <label for="sphereRadius">Raio da esfera (cm):</label>
        <input type="number" id="sphereRadius" formControlName="sphereRadius" name="sphereRadius" (change)="updateScene()">
        @if(form.get('sphereRadius')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('sphereRadius')?.hasError('min')){<span>O valor deve ser positivo</span>}
      </div>
    }

    

    @if(form.get('sourceType')?.value === 'cilindrica'){
      <div style="display: flex; flex-direction: column;">
        <label for="cylinderHeight">Altura do cilindro (cm):</label>
        <input type="number" id="cylinderHeight" formControlName="cylinderHeight" name="cylinderHeight" (change)="updateScene()">
        @if(form.get('cylinderHeight')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('cylinderHeight')?.hasError('min')){<span>O valor deve ser positivo</span>}

        <label for="cylinderRadius">Raio do cilindro (cm):</label>
        <input type="number" id="cylinderRadius" formControlName="cylinderRadius" name="cylinderRadius" (change)="updateScene()">
        @if(form.get('cylinderRadius')?.hasError('required')){<span>Campo obrigatório.</span>} 
        @if(form.get('cylinderRadius')?.hasError('min')){<span>O valor deve ser positivo</span>}
      </div>
      
    }
    

    <button [disabled]="form.invalid" type="submit">Enviar</button>
  </form>

  <!-- Exibição da Forma e Fonte ao lado -->
  <div class="threejs-container" style="width: 50%; height: 500px;"></div>

</div>
