<!-- <div class="content">
    <h4>{{title}} </h4>
    <h4> {{content}} </h4>

    <div ngif="isNotStarted" class="content-button">
        <button>Visualizar</button>
    </div>
</div> -->
<div class="card-container">
    <div class="card-header">
    </div>
    <h2>{{id}}</h2>

    <div class="info">
        <div>
            <label for="aperture">Tipo de Abertura:</label>
            <span id="aperture">{{apertureType}}</span>
        </div>
        <div>
            <label for="source">Tipo de Fonte:</label>
            <span id="source">{{sourceType}}</span>
        </div>
        <div>
            <label for="emissions">Quantidade de Emissões:</label>
            <span id="source">{{emissions}}</span>
        </div>
        <div>
            <label for="emissions">Status:</label>
            <span id="source">{{status}}</span>
        </div>
    </div>
</div>