<div class="sidebar">
    <div class="logo-container">
      <img src="/assets/Logo.svg">
      <h1>LaFis</h1>
    </div>
  
    <div class="options-container">
      <ul>
        <li><div class="option">
          <img src="/assets/Simulation.svg">
          <a href="/all">Simulações</a>
        </div></li>
  
        <li><div class="option">
          <img src="/assets/addSimulation.svg">
          <a href="/cadastro">Nova Simulação</a>
        </div></li>
  
        <li><div class="option">
          <img src="/assets/contact.svg">
          <a href="">Fale Conosco</a>
        </div></li>
        <li>
          <div class="option">
            <img src="assets/logout.svg">
            <a href="">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>