<div class="modal" *ngIf="isOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <h3>Detalhes da Simulação</h3>

        <div class="modal-body">
            <div class="info-grid">
                <app-info-item
                    [label] ="'ID:'"
                    [value] ="selectedSimulation?.id"
                ></app-info-item>

                <app-info-item
                    [label] ="'Tipo de Abertura:'"
                    [value] ="selectedSimulation?.context.aperture.type"
                ></app-info-item>

                <app-info-item
                    [label] ="'Tipo de Fonte:'"
                    [value] ="selectedSimulation?.context.source.type"
                ></app-info-item>

                <app-info-item
                    [label] ="'Quantidade de emissões:'"
                    [value] ="selectedSimulation?.emissions"
                ></app-info-item>

                <app-info-item
                    [label] ="'Status:'"
                    [value] ="selectedSimulation?.status"
                ></app-info-item>

                <app-info-item
                    [label] ="'Vazão'"
                    [value] ="selectedSimulation?.escaped"
                ></app-info-item>
            </div>

            <div class="chart-container" *ngIf="selectedSimulation?.status == 'FINISHED'">
                <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="pieChartType"></canvas>
            </div>

            <div class="chart-container" *ngIf="selectedSimulation?.status != 'FINISHED'">
                <P>Esta simulação ainda não contém resultados.</P>
            </div>

        </div>
        <div class="modal-footer">
            <button (click)="close()">Fechar</button>
        </div>
    </div>
</div>
