<div *ngIf="simulations.length > 0; else notFound">
    <div *ngFor="let simulation of simulations" class="card-container">
        <div class="card-header">
        </div>
        <h2>{{simulation.id}}</h2>
    
        <div class="info">
            <div>
                <label for="aperture">Tipo de Abertura: </label>
                <span id="aperture">{{simulation.context.aperture.type}}</span>
            </div>
            <div>
                <label for="source">Tipo de Fonte: </label>
                <span id="source">{{simulation.context.source.type}}</span>    
            </div>
            <div>
                <label for="emissions">Quantidade de Emissões: </label>
                <span id="source">{{simulation.emissions}}</span>    
            </div>
            <div>
                <label for="emissions">Status: </label>
                <span id="source">{{simulation.status}}</span>                
            </div>
        </div>
    
        <div class="card-footer">
            <div class="button delete">
                <a href=#>  
                    <img src="/assets/delete.svg">
                    <p>Excluir</p>
                </a>
            </div>
    
            <div class="button information">
                <a href=# (click)="openModal(simulation)">
                    <img src="/assets/info-white.svg">
                    <p>Detalhes</p>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #notFound>
    <div>Nenhuma Simulação Encontrada :( </div>
</ng-template>

<app-simulacao-detail-modal
  [selectedSimulation]="selectedSimulation"
  [isOpen]="isModalOpen"
  (closeModal)="closeModal()">
</app-simulacao-detail-modal>