<div class="card-container">
    <div class="card-buttons">
        <div class="button">
            <img src="/assets/delete.svg">
            <a href="/"></a>
        </div>
    </div>
    <h1>{{id}}</h1>

    <div class="info">
        <label for="aperture">Tipo de Abertura:</label>
        <span id="aperture">{{apertureType}}</span>

        <label for="source">Tipo de Fonte:</label>
        <span id="source">{{sourceType}}</span>

        <label for="emissions">Quantidade de Emissões:</label>
        <span id="source">{{emissions}}</span>


    </div>

    <button>Detalhes</button>


</div>
