<div *ngIf="simulations.length > 0; else notFound">
    <div *ngFor="let simulation of simulations" class="card-container">
        <div class="card-header">
        </div>
        <h2>{{simulation.id}}</h2>
    
        <div class="info">

            <app-info-item
                    [label] ="'Tipo de Abertura:'"
                    [value] ="simulation.context.aperture.type"
                ></app-info-item>

                <app-info-item
                    [label] ="'Tipo de Fonte:'"
                    [value] ="simulation.context.source.type"
                ></app-info-item>

                <app-info-item
                    [label] ="'Quantidade de emissões:'"
                    [value] ="simulation?.emissions"
                ></app-info-item>

                <app-info-item
                    [label] ="'Status:'"
                    [value] ="simulation.status"
                ></app-info-item>
        </div>
    
        <div class="card-footer">
            <div class="button information" >
                <a href=# (click)="openModal(simulation)">
                    <img src="/assets/info-white.svg">
                    <p>Detalhes</p>
                </a>
            </div>
            <div *ngIf="simulation.status === 'CREATED'">
                <div class="button confirm">
                    <a href=# (click)="startSimulation(simulation.id)">  
                        <img src="/assets/play-icon.svg">
                        <p>Iniciar Simulação</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #notFound>
    <div>Nenhuma Simulação Encontrada :( </div>
</ng-template>

<div>

</div>
<app-simulacao-detail-modal 
  [selectedSimulation]="selectedSimulation"
  [isOpen]="isModalOpen"
  (closeModal)="closeModal()">
</app-simulacao-detail-modal>